.video-container {
    position: relative;
    width: 10px; /* Ajustez selon vos besoins */
    height: 20px;
    overflow: hidden;
}

#image-hover {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    position: absolute;
    z-index: 1;
}

#video-hover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 0;
    display: none; /* La vidéo est cachée par défaut */
}
